.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('/assets1/img/illustrations/bg-register.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}